<menu xmlns="http://ahtutils.aht-group.com/navigation" xmlns:s="http://ahtutils.aht-group.com/status" xmlns:a="http://ahtutils.aht-group.com/access">
    <menuItem code="welcome" href="/">
        <s:langs><s:lang key="en" version="1" translation="Welcome" /></s:langs>
    </menuItem>
    <menuItem code="showcase" href="/showcase">
        <s:langs><s:lang key="en" version="1" translation="Showcase" /></s:langs>
        <menuItem code="showcaseMapSimple" href="/showcase/map/simple"><s:langs><s:lang key="en" version="1" translation="map (simple)"/></s:langs></menuItem>
    		<menuItem code="showcaseMapClick" href="/showcase/map/click"><s:langs><s:lang key="en" version="1" translation="map (click)"/></s:langs></menuItem>
        <menuItem code="showcaseMapAdvanced" href="/showcase/map/advanced"><s:langs><s:lang key="en" version="1" translation="map (advanced)"/></s:langs></menuItem>
        <menuItem code="showcaseCoordinate" href="/showcase/coordinate"><s:langs><s:lang key="en" version="1" translation="coordinate"/></s:langs></menuItem>
        <menuItem code="showcaseLayerSwitcher" href="/showcase/layerSwitcher"><s:langs><s:lang key="en" version="1" translation="layerSwitcher"/></s:langs></menuItem>
    </menuItem>
    <menuItem code="tutorial" href="/tutorial">
        <s:langs><s:lang key="en" version="1" translation="Tutorial" /></s:langs>
        <menuItem code="tutorialMaven" href="/tutorial/maven"><s:langs><s:lang key="en" version="1" translation="Maven"/></s:langs></menuItem>
        <menuItem code="tutorialDataStructure" href="/tutorial/datastructure"><s:langs><s:lang key="en" version="1" translation="GeoJSF Data Structure"/></s:langs></menuItem>
    		<menuItem code="tutorialUsage" href="/tutorial/usage"><s:langs><s:lang key="en" version="1" translation="GeoJSF usage"/></s:langs></menuItem>
        <menuItem code="tutorialHibernate" href="/tutorial/hibernate"><s:langs><s:lang key="en" version="1" translation="Hibernate Spatial"/></s:langs></menuItem>
    		<menuItem code="tutorialPostGis" href="/tutorial/postgis"><s:langs><s:lang key="en" version="1" translation="PostGIS (Debian)"/></s:langs></menuItem>
        <menuItem code="tutorialGeoServerAS7" href="/tutorial/geoserver/as7"><s:langs><s:lang key="en" version="1" translation="GeoServer and Jboss AS7"/></s:langs></menuItem>
	</menuItem>
	<menuItem code="geoserver" href="/geoserver">
		<s:langs><s:lang key="en" version="1" translation="GeoServer" /></s:langs>
		<menuItem code="geoserverBasic" href="/geoserver"><s:langs><s:lang key="en" version="1" translation="Basic"/></s:langs></menuItem>
		<menuItem code="geoserverJaxb" href="/geoserver/jaxb"><s:langs><s:lang key="en" version="1" translation="JAXB"/></s:langs></menuItem>
		<menuItem code="geoserverWorkspace" href="/geoserver/workspace"><s:langs><s:lang key="en" version="1" translation="Workspace Manager"/></s:langs></menuItem>
		<menuItem code="geoserverStyle" href="/geoserver/style"><s:langs><s:lang key="en" version="1" translation="Style Manager"/></s:langs></menuItem>
		<menuItem code="geoserverLayer" href="/geoserver/layer"><s:langs><s:lang key="en" version="1" translation="Layer Manager"/></s:langs></menuItem>
	</menuItem>
</menu>